#Build output
*.ko.cmd
*.ko
*.o
*.d
*.o.cmd

#Logs
flash.log

# Created Files
build/
poky/

# Created Arduino Files
arduino/clloader/clloader
arduino/clloader/sketch_reset

# Random broadcast files
broadcom_cws/wlan/driver_bcm43x/.tmp_versions/
broadcom_cws/wlan/driver_bcm43x/Module.symvers
broadcom_cws/wlan/driver_bcm43x/bcm4334x.mod.c
broadcom_cws/wlan/driver_bcm43x/modules.order

# Middleware ignores
mw/iecf-js/node_modules/
mw/mdns/mDNSPosix/objects/
mw/rsmb/rsmb/src/broker_mqtts32
